interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/TSLA/bars?start=2021-11-26T15%3A00%3A00%2B00%3A00&end=2021-11-26T15%3A05%3A00%2B00%3A00&limit=2&timeframe=1Min&adjustment=all
  response:
    content: '{"bars":[{"t":"2021-11-26T15:00:00Z","o":1093.62,"h":1095,"l":1091.64,"c":1093.3,"v":88087,"n":2757,"vw":1093.290531},{"t":"2021-11-26T15:01:00Z","o":1093.04,"h":1093.6826,"l":1088.91,"c":1090.66,"v":53702,"n":1683,"vw":1090.712686}],"symbol":"TSLA","next_page_token":"VFNMQXxNfDIwMjEtMTEtMjZUMTU6MDE6MDAuMDAwMDAwMDAwWg=="}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/TSLA/bars?start=2021-11-26T15%3A00%3A00%2B00%3A00&end=2021-11-26T15%3A05%3A00%2B00%3A00&limit=2&timeframe=1Min&adjustment=all&page_token=VFNMQXxNfDIwMjEtMTEtMjZUMTU6MDE6MDAuMDAwMDAwMDAwWg%3D%3D
  response:
    content: '{"bars":[{"t":"2021-11-26T15:02:00Z","o":1090.2,"h":1090.6399,"l":1087.2,"c":1087.21,"v":50956,"n":1610,"vw":1088.657243},{"t":"2021-11-26T15:03:00Z","o":1087.2,"h":1090.49,"l":1086.33,"c":1089.9759,"v":44463,"n":1489,"vw":1088.480004}],"symbol":"TSLA","next_page_token":"VFNMQXxNfDIwMjEtMTEtMjZUMTU6MDM6MDAuMDAwMDAwMDAwWg=="}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/TSLA/bars?start=2021-11-26T15%3A00%3A00%2B00%3A00&end=2021-11-26T15%3A05%3A00%2B00%3A00&limit=2&timeframe=1Min&adjustment=all&page_token=VFNMQXxNfDIwMjEtMTEtMjZUMTU6MDM6MDAuMDAwMDAwMDAwWg%3D%3D
  response:
    content: '{"bars":[{"t":"2021-11-26T15:04:00Z","o":1089.66,"h":1092,"l":1088.5,"c":1088.5089,"v":37941,"n":1376,"vw":1090.630233},{"t":"2021-11-26T15:05:00Z","o":1088.68,"h":1091.84,"l":1088.68,"c":1090.5,"v":36206,"n":1226,"vw":1090.434475}],"symbol":"TSLA","next_page_token":"VFNMQXxNfDIwMjEtMTEtMjZUMTU6MDU6MDAuMDAwMDAwMDAwWg=="}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://data.alpaca.markets/v2/stocks/TSLA/bars?start=2021-11-26T15%3A00%3A00%2B00%3A00&end=2021-11-26T15%3A05%3A00%2B00%3A00&limit=2&timeframe=1Min&adjustment=all&page_token=VFNMQXxNfDIwMjEtMTEtMjZUMTU6MDU6MDAuMDAwMDAwMDAwWg%3D%3D
  response:
    content: '{"bars":null,"symbol":"TSLA","next_page_token":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status_code: 200
version: 1
